.App {
  text-align: center;
}
.invitation-alert {
  margin: 0;
}

div#root {
  width: 100%;
}
.your-invitations-container {
  margin: 20px;
}

.content-section {
  padding-bottom: 160px;
}
.inline-block {
  display: inline-block;
}

.invitation-con {
  max-width: 100%;
}

.inline-block {
  display: inline-block !important;
}

.svg-ico{
  fill: #d9d9d9;
}

.deco-non {
  text-decoration: none;
}