.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.nav-link.active {
  background: #dddddd;
  border-radius: 5px;
}
.container {
  width: 100vh;
}